.sidenav {
  background-color: var(--backgroundSideNav);
  width: 200px;
}
.sidenav a {
  color: var(--white)
}
.sidenav i {
  padding-right: 10px;
}
.content {
  padding: 16px;
  background-color: var(--white);
}