/* You can add global styles to this file, and also import other style files */

:root {
  --backgroundSideNav: #3F51B5;
  --white: #fff;
  --iconEdit: #d9cd26;
  --red: #e35e6b;
  --green: #28a745;
  --gray: #333
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color: var(--red);
}
.v-middle {
  vertical-align: middle;
}
form {
  display: flex;
  flex-direction: column;
}
.msg-success {
  background-color: var(--green);
  color: var(--white)
}
.msg-error {
  background-color: var(--red);
  color: var(--white)
}