.header, .header a {
  display: flex;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: var(--gray);
}
.header .logo {
  max-height: 32px;
}
.header .title-group {
  padding-left: 25px;
}
.header .title-group i{
  padding-right: 5px;
}