<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
    
    <mat-form-field>
      <input type="text" name="name" matInput placeholder="Nome" [(ngModel)]="product.name">
    </mat-form-field>

    <mat-form-field>
      <input type="text" name="price" matInput placeholder="Preço (R$)" [(ngModel)]="product.price">
    </mat-form-field>
  </form>
  
    <button mat-raised-button (click)="updateProduct()" color="accent">
    Editar
  </button>

  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>